.input {
            border: 0;
            background-color: rgba(240, 240, 240);
            height: 25px;
            width: auto;
            outline: none;
            flex-grow: 1;
            background-color: rgba(142, 36, 170, 0.5);
        }
        @keyframes clickAnimation {
            0% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
            }
            50% {
                box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.16);
            }
            99% {
                box-shadow: 0 0 0 5px rgba(0, 0, 0, 0)
            }
            100% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
        }
        .button {
            fill: currentColor;
            color: #8E24AA;
            align-items: center;
            height: 35px;
            width: 70px;
            margin-left: 10px;
            border-radius: 15px;
            font-size: 18px;
            position: relative
        }
        .button:hover {
            animation: clickAnimation 1s infinite;
        }
        .button:active {
            background-color: #FF99FF;
        }
        .inp {
            width: calc(100% - 20px);
            flex-flow: row nowrap;
            display: flex;
            align-items: center;
            height: 40px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: rgb(0, 0, 0, 0.08);
            border-radius: 5px;
        }