.messageForm {
			height: calc(100vh - 50px);
			width: 100%;
			overflow: hidden;
            display: flex;
            flex-flow: column-reverse nowrap; 
            align-items: flex-end;
            justify-content: space-between;
        }
        .formChat {
            max-height: 100%;
            width: 100%;
            justify-content: flex-end;
            display: flex;
            align-items: flex-end;
            flex-flow: column nowrap;
        }
        .chat {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            display: flex;
            align-items: flex-end;
            flex-flow: column nowrap;
        }